$max-width: 640px;

html {
  font-size: 13px;
}

body {
  background: #f9f9f9;
  color: #534D4B;
  display: flex;
  display: flex;
  font-family: "Range Mono","Inconsolata", monospace;
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

.container {
  max-width: $max-width;
}

header {
  margin-top: 80px;
  margin-bottom: 80px;
}

h1 {
  position: relative;
  font-size: 4.5rem;
  font-weight: normal;
}

.title a {
  &:visited {
    color: #534D4B;
  }
}

.love {
  position: absolute;
  right: 40px;
  top: -45px;
  width: 140px;
  height: auto;
  opacity: .9;
  mix-blend-mode: multiply;
}

nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin-top: 40px;

  a {
    margin: 0 15px;

    &:hover {
      text-decoration: underline;
      color: blue;
    }
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  display: flex;
  width: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #534D4B;

  &:hover {
    color: blue;
  }

  &:visited {
    color: lighten(#534D4B, 33);
  }
}

figure  {
  margin: 0;
  display: flex;
}

.photo-post {
  & + .photo-post {
    margin-top: 40px;
  }

  .loading {
    height: 480px;
    width: 640px;
    background: #E6E6E6;
  }

  .hasLoaded {
    display: flex;
  }

  video {
    width: 100%;
    height: auto;
  }

  figcaption {
    padding: 12px 18px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    line-height: 2;
  }

  .caption {
    flex: 1;
  }

  .notes {
    width: 90px;
    text-align: right;
  }

  .love {
    margin-left: 5px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

// utitlies
.tac {
  text-align: center;
}


#carbonads {
    padding: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    font-family: "Futura","proxima-nova", "Proxima Nova";
}
#carbonads img {
    border-radius: 1px;
}
.carbon-text {
    max-width: 130px;
    text-decoration: none;
    margin-top: 8px;
}
#carbonads a {
    color: #333;
}
.carbon-poweredby {
    color: #efefef;
    font-size: 90%;
    position: relative;
    opacity: .5;
}
